# Ambiente virtuale
venv/
env/
ENV/

# Cache di Python
__pycache__/
*.py[cod]
*$py.class

# File temporanei di sistema
.DS_Store
Thumbs.db

# File temporanei Rasa
.rasa/
results/
*.db

# Modelli addestrati
models/
model1
model2
best_model_old
*.tar.gz

# Log e output training

training_results/
training_results_2/
*.log
*.tfevents.*

# Dataset (se grande o privato)
data/*.csv
datasets/
session_logs/

# Script temporanei o di test
test_scripts/

# Configurazioni locali/editor
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.~*

# File pip
pip-log.txt

# Test output
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/

# File database
*.sqlite
*.sqlite3

